body {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
        -webkit-user-select: none;
	margin: 15px 0px;
}

h1 {
        display: block;
        font-size: 1.3em;
        text-align: center;
	font-weight: normal;
	word-wrap: break-word;
}

ul {
        list-style-type: none;
	padding: 0px;
}

ul li {
        border-top: 1px #333333 solid;
}

ul li, #nowplaying {
        padding: 20px 30px;
	cursor: pointer;
}

ul li:hover, #nowplaying:hover {
	background: #EDFFEE;
}

ul li:last-child {
	border-bottom: 1px #333333 solid;
}

ul li.folder {
	font-weight: bold;	
}

ul a {
	text-decoration: none;
	color: #414154;
}

#nowplaying {
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}
